*{
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: sans-serif;
    transition: backgound-color 0.9s ease, color 0.5s ease;
}

body{
    background-color: var(--bgcolor);
}

@media(min-width:1100px) and (max-width: 1450px){

  .apres>.titulo{
    font-size: 390%
  }

body>.gmail{
  width: 15.8%;
    height: 20.2vh;
}

body>.whatsapp{
  width: 13.85%; 
  height: 23.3vh;
}

.formulario>label{
  font-size: 80%;
}

body>.formulario{
  height: 66vh;
  margin-top: -43.2%;
}

.voltar{
 margin-bottom: 25%;
}
}

@media(max-width:550px){
    .apres>.titulo{
    font-size: 270%;
    margin-top: 5%;
  }

body>.gmail{
  opacity: 0;
}

body>.whatsapp{
  opacity: 0;
}

body>.email{
  margin-top: -20%;
  margin-left: -1%;
  font-size: 170%;
}

body>.number{
  margin-top: -40%;
  margin-left: -1%;
  font-size: 170%;
}

.formulario>label{
  font-size: 70%;
}

body>.formulario{
  height: 66vh;
  margin-top: -2%;
  width: 100%;
  margin-left: -0.2%;
}

body>.formulario>button{
  font-size: 80%;
}

.voltar{
 margin-bottom: 55%;
 margin-left: -98%;
 font-size: 80%;
 width: 290%;
}
}
 body>#footer{
    font-size: 175%;
  }

@media (min-width:735px) and (max-width:900px){
 .apres>.titulo{
    font-size: 270%;
    margin-top: 5%;
  }

body>.gmail{
  width: 30.7%;
    height: 20.2vh;
    
}

body>.whatsapp{
  width: 26.75%; 
  height: 23.3vh;
}

.formulario>label{
  font-size: 80%;
  width: 30%;
}
.formulario>.mensagg{
  width: 55%;
}

body>.formulario{
  height: 66vh;
  width: 40%;
  margin-top: -76%;
  margin-left: 60%;
  margin-bottom: 8%;
}

body>.formulario>button{
  font-size: 80%;
  width: 35%;
}
.voltar{
 margin-bottom: 45%;
font-size: 80%;
 width: 190%;
 margin-left: -40%;
 
}
}

:root{
  --bgcolor: #FD6D20;
  --email: url(gmail_logo_white\ 1.png);
  --whatsapp: url(whatsapp\ white.png);
  --fontecolor: #FD6D20;
  --bgbotoes:white;
  --bgsubmit: #C0B1B1;
  --voltar:black;
}

.darkmode{
 --bgcolor: #BC4200;
 --email: url(gmail_logo_black.png);
 --whatsapp: url(whatsapp\ black.png);
 --fontecolor: #BC4200;
 --bgbotoes:black;
 --bgsubmit: rgb(255, 255, 255);
 --voltar:white;
}

.titulo{
    font-size: 500%;
}

.apres{
    display: flex;
    align-content: center;
    color: var(--bgbotoes);
    justify-self: center;
    text-align: center;
    margin-top: -3%;
}

.gmail{
    background-image: var(--email);
    width: 11.8%;
    height: 16.8vh;
    margin-top: 6%;
    margin-left: 10%;
}

.email{
  color: var(--bgbotoes);
  margin-bottom: 20%;
  margin-left: 6%;
  font-size: xx-large;
  text-decoration: underline;
}

.whatsapp{
  background-image: var(--whatsapp);
  width: 9.85%; 
  height: 19.3vh;
  margin-top: 0%;
  margin-left: 10.5%;
  margin-top: -15%;
}

.number{
  color: var(--bgbotoes);
  margin-top:   0%;
  margin-left: 7.8%;
  font-size: xx-large;
  text-decoration: underline;
}


.voltar{
    display: flex;
    justify-content:center ;
    margin-top: 3%;
}

.voltar>a{
    background-color: var(--bgbotoes);
    width: 10%;
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--fontecolor);
    line-height: 50px;
    font-weight: bolder;
}

.voltar>a:hover{
  color: var(--voltar);
}

.toggle-switch {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
    overflow: hidden; 
    margin-left: 80%;
    margin-top: 1%;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   background-image: url(sunbgg.png);
    border-radius: 34px;
    transition: 0.4s;
  }

  .slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 5px;
    background-color: rgb(252, 207, 9); 
    border-radius: 50%;
    transition: 0.4s;
  }

  .toggle-switch input:checked + .slider::before   {
    background-color: rgb(0, 0, 0); 
  }
  
  .toggle-switch input:checked + .slider {
    background-image: url(moonbg.png);
  }
  
  .toggle-switch input:checked + .slider:before {
    transform: translateX(46px);
  }
  
  .mode-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 80px;
    top: 0;
    left: 0;
    transition: transform 0.4s;
  }
  
  .sun-icon,
  .moon-icon {
    font-size: 24px;
    transition: opacity 0.4s;
    position: absolute;
    top: 4px;
    opacity: 1;
  }
  
  .moon-icon {
    right: 4px;
  }
  
  .visible {
    opacity: 1;
  }
  
  .sun-icon {
    left: -18px;
  }

#footer{
  font-size: 48px;
  font-weight: bolder;
 text-align: center;
 margin-top: 25%;
 color: var(--bgbotoes);
}

.tituloform{
    color: #FD6D20;
    font-size: 36px;
}

.formulario{
  background-color: var(--bgbotoes);
  display: grid;
  width: 37%;
  height: 57vh;
  margin-top: -36.9%;
  margin-left: 45.1%;
  text-align: center;
  font-weight: bolder;
  font-size: 28px;
  padding-left: 2%;
}

.user{
  width: 90%;
}

#mensagemtxt{
  width: 80%;
  height: 10vh;
}

.formulario>button{
  width: 20%;
  color: var(--bgbotoes);
  background-color: #FD6D20;
  border-radius: 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 28px;
  margin-top: -3%;
  margin-bottom: 2%;
}

.formulario>button:hover{
  color: #BC4200;
}

.formulario>input{
  border-radius: 15px;
  background-color: var(--bgsubmit);
  width: 90%;
  height: 3vh;
  margin-top: 1%;
}

.formulario>label{
  color: var(--bgbotoes);
  background-color: #FD6D20;
  border-radius: 15px;
  text-align: center;
}

.nometxt{
  width: 18%;
  height: 3vh;
  margin-top: 1%;
}

.emailtxt{
  width: 18%;
  height: 3vh;
}

.mensagg{
  width: 30%;
  height: 3vh;
}



