*{
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: sans-serif;
    transition: backgound-color 0.9s ease, color 0.5s ease;
}

body{
    background-color: var(--bgcolor);
}

@media(max-width:500px){
    body>.apres>.titulo{
      font-size: 300%;
    }
    body>.blocotxt{
      font-size: 150%;
    }
    .botao{
      width: 200%;
      font-size: 60%;
    }
    body>#footer{
    font-size: 175%;
  }
}

@media (min-width:735px) and (max-width:900px){
  .botao{
      width: 200%;
      font-size: 80%;
    }
}

:root{
  --bgcolor: #FD6D20;
  --fontecolor: #FD6D20;
  --bgbotoes:white;
  --voltar:black;
}

.darkmode{
 --bgcolor: #BC4200;
 --fontecolor: #BC4200;
 --bgbotoes:black;
 --voltar:white;
}

.titulo{
    font-size: 700%;
}

.apres{
    display: flex;
    align-content: center;
    color: var(--bgbotoes);
    margin-left: 10%;
    text-align: center;
}

.blocotxt{
  font-family: sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: var(--fontecolor);
    background-color: var(--bgbotoes);
    width: 82%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin-top: 5%;
    border-radius: 15px;
}

.botao{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin-left: 10%;
    margin-top: 3%;
}

.botao>a{
    background-color: var(--bgbotoes);
    width: 10%;
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--fontecolor);
    line-height: 50px;
    font-weight: bolder;
}
.botao>a:hover{
  color: var(--voltar);
}

.toggle-switch {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
    overflow: hidden; 
    margin-left: 80%;
    margin-top: 1%;
  }
  
  .toggle-switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   background-image: url(sunbgg.png);
    border-radius: 34px;
    transition: 0.4s;
  }

  .slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 5px;
    background-color: rgb(252, 207, 9); 
    border-radius: 50%;
    transition: 0.4s;
  }

  .toggle-switch input:checked + .slider::before   {
    background-color: rgb(0, 0, 0); 
  }
  
  .toggle-switch input:checked + .slider {
    background-image: url(moonbg.png);
  }
  
  .toggle-switch input:checked + .slider:before {
    transform: translateX(46px);
  }
  
  .mode-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 80px;
    top: 0;
    left: 0;
    transition: transform 0.4s;
  }
  
  .sun-icon,
  .moon-icon {
    font-size: 24px;
    transition: opacity 0.4s;
    position: absolute;
    top: 4px;
    opacity: 1;
  }
  
  .moon-icon {
    right: 4px;
  }
  
  .visible {
    opacity: 1;
  }
  
  .sun-icon {
    left: -18px;
  }

  #footer{
    font-size: 48px;
    font-weight: bolder;
   text-align: center;
   margin-top: 15%;
   color: var(--bgbotoes);
  }

